{% extends 'base.html.twig' %}

{% block body %}
    <div class="addRide">
    <div class="container">
        <h3>Add new ride in your neighbourhood!</h3>
        <div class="col-xs-12 col-md-6" id="wrapper">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3" for="name">{{ form_label(form.name) }}</label>
                    <div class="col-xs-12 col-sm-9">
                        {{ form_widget(form.name) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3" for="rideLocation">{{ form_label(form.rideLocation) }}</label>
                    <div class="col-xs-12 col-sm-9">
                        {{ form_widget(form.rideLocation) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-3" for="rideBeginning">{{ form_label(form.rideBeginning) }}</label>
                    <div class="col-xs-12 col-sm-9">
                        {{ form_widget(form.rideBeginning) }}
                    </div>
                </div>
                {{ form_errors(form) }}
                <div class="form-group">
                    <div class="col-xs-12 col-sm-offset-3  col-sm-9">
                        {{ form_widget(form.save) }}
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}

{% block javascripts %}

{% endblock %}