{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="hidden-xs col-sm-6 pull-right" style="height: 600px;">
            {{ include('default/embeddedMap.html.twig', { 'rides': rides }) }}
        </div>
        {% for ride in rides %}
            <div class="col-xs-12 col-sm-6">
                <div class="ride-pane gear-type-{{ ride.gear }}">
                    <div class="background-opacity">
                        <div class="ride-pane-title">{{ ride.name }}</div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-9 ride-description"><span class="day">
                                {% if date(ride.beginning) < date('tomorrow') %}
                                    today{{ ride.beginning|date(", H:i") }}
                                {% elseif date(ride.beginning) < date('+2days midnight') %}
                                    tomorrow{{ ride.beginning|date(", H:i") }}
                                {% elseif date(ride.beginning) < date('+6days') %}
                                    {{ ride.beginning|date("l, H:i") }}
                                {% else %}
                                    {{ ride.beginning|date("Y-m-d, H:i") }}
                                {% endif %}</span> {{ ride.locationDescription }} </div>
                        </div>
                        <div class="row ride-specs">
                            <div class="col-xs-1 glyphicon glyphicon-map-marker"></div>
                            <div class="col-xs-3">{{ distances[ride.id] }} km</div>
                            <div class="col-xs-1 glyphicon glyphicon-road"></div>
                            <div class="col-xs-3">{{ ride.distance }} km</div>
                            <div class="col-xs-2">{{ ride.gear }}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="clearfix"></div>
    <div class="container" style="margin: auto">
        <a href="{{ path('addRide') }}" class="btn btn-info btn-block" role="button">Add new ride</a>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}

{% block javascripts %}
    <script>
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        var drafter_lat = getCookie("drafter_lat");
        if (drafter_lat == "") {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    console.log(position.coords.latitude, position.coords.longitude);
                    document.cookie = "drafter_lat=" + position.coords.latitude + "; path=/";
                    document.cookie = "drafter_lon=" + position.coords.longitude + "; path=/";
                    location.reload();
                });
            } else {
                console.log("fuck U");
            }
        }

    </script>
{% endblock %}